/* ROBOTO import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    height: 100vh;
    font-family: "Roboto", sans-serif;

    --primary-color: #A5B4FC;
    --secondary-color:  #F7D4BC;
}

.logo {
    height: 2.5rem;
    fill: white;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 45px;
    background-color: var(--primary-color);
    font-size: 1.5rem;
    color: white;
    align-items: center;
}

.book-list {
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 25%));
    gap: 15px;

}

.icon {
    fill: var(--secondary-color);
}

.small-icon {
    height: 18px;
    position: relative;
    fill: red;
    border: 1px solid red;
    cursor: grab;
}

.card {
    height: 200px;
    border: 1px solid black;
    display: grid;
}

.book-card-content {
    padding: 15px;
}

.book-card-content header {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.book-card-content header span {
    visibility: hidden;
}

.book-card-content div {
    margin-bottom: 5px;
}

.add-book {
    justify-self: center;
    align-self: center;
    cursor: grab;
}

dialog {
    margin: auto;
    padding: 15px;
}

dialog header {
    display: flex;
    justify-content: space-between;
    align-content: baseline;
    margin-bottom: 10px;
}

dialog form div {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

dialog input[type="text"],
dialog input[type="number"] {
    margin-left: 5px;
}

dialog input[type="number"] {
    width: 5ch;
    margin-right: auto;
}

fieldset {
    padding: 15px;
}

dialog footer button {
    margin-top: 15px;
    padding: 10px 30px;
    background-color: var(--primary-color);
    font-weight: bolder;
}